.letter-anim-hover {
  display: inline-block;
  min-width: 10px;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.letter-anim {
    display: inline-block;
    min-width: 10px;
  
    &:hover {
      span {
        animation: bounce 1.2s infinite;
        animation-fill-mode: forwards;
      }
    }
  }

  .letter-anim.idx {
    animation: bounceIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @for $i from 0 through 9 {
    @if($i == 6) {
      .container.about-page .letter-anim.idx._#{$i}{
        margin-left: 20px;
      }
    }

    .letter-anim.idx._#{$i}{
      animation-delay: #{$i / 20}s;
    }

    .letter-anim:hover .idx ._#{$i} {
      animation-delay: #{$i / 20}s;
    }
  }

  @for $j from 0 through 9 {
    @if($j == 6) {
      .container.about-page .letter-anim-hover.idx._#{$j}{
        margin-left: 20px;
      }
    }
    .letter-anim-hover.idx._#{$j}{
      animation-delay: #{($j + 10) / 10}s;
    }
  }