.nav-bar {
    pointer-events: none;
    background-color: transparent;
    width: 85px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    transition: background-color .1s;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 2.5px;
      background: red;
      z-index: 5;
    }

    @for $i from 1 through 102 {
      &._#{$i}{
        &:before {
          height: #{$i} + '%';
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100px;
      margin: 2.25vh;    
      background-color: black;
      transition: 300ms transform ease 100ms;
      transform: scaleY(0);
      transform-origin: center;
    }

    &.active-scroll-border {      
      
      &:after {
        transition: 300ms transform ease 300ms;
        transform: scaleY(1);
      }
    }

    .logo {
      cursor: pointer;
      pointer-events: all;
      user-select: all;
      position: absolute;
      display: block;
      margin: 20px auto;
      padding: 0 15px;

      &:hover, &:active, &:focus {
        img {
          animation: rubberBand 1s infinite;
        }
      }
      
      img {
        user-select: none;
        pointer-events: none;
        width: 60px;
        transition: 0.5s;
        display: block;
        margin: auto;
      }
    }

    /************************ Nav **********************************/

    a {
      pointer-events: all;
    }

    nav {
      pointer-events: all;
      position: absolute;
      top: 0;
      height: 100vh;
      width: 90px;
      background-color: transparent;
      transition: transform .5s ease;
      transition-delay: .4s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: -2;

      &.open-navigation {
        ul {
          padding: 0 0 0 280px;
          opacity: 1;
          transition: padding .5s, opacity .1s;

          li {
            margin: 0;
            transition: margin .5s;

            &:nth-child(1) {
              transition-delay: .6s;
            }
            &:nth-child(2) {
              transition-delay: .4s;
            }
            &:nth-child(3) {
              transition-delay: .2s;
            }
            &:nth-child(4) {
              transition-delay: .4s;
            }
          }
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 1500px;
        transform: rotateZ(-90deg);
        transition: padding .5s;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: padding .6s, opacity .15s;
        transition-delay: .2s;

        li {
          margin: 0 -50px;
          transition: margin .8s;

          &:nth-child(1) {
            div > a:before {
              content: 'Home';
            }
          }
          &:nth-child(2) {
            div > a:before {
              content: 'About';
            }
          }
          &:nth-child(3) {
            div > a:before {
              content: 'Portfolio';
            }
          }
          &:nth-child(4) {
            div > a:before {
              content: 'Contact';
            }
          }

          div {
            transform: translateZ(100px);
            transition: transform .4s ease-out;
          }

          div > a {
            text-decoration: none;   
            width: 50px;
            margin: 10px;
            letter-spacing: 2px;
            font-size: 18px;
            transition: .4s;
            position: relative;
            color: lightgray;
            text-decoration: none;    
            //text-transform: uppercase; 
  
            @for $i from 5 through 1 {
              &:nth-child(#{$i}) {
                transition-delay: #{($i * .25)}s;
              }
            }
  
            &:before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              direction: rtl;
              height: 100%;
              width: 0;
              color: #181818;
              overflow: hidden;
              transition: .3s;
            }
      
            &:after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: -1px;
              height: 4px;
              width: 100%;
              direction: rtl;
              background: red;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform .3s;
            }
  
            &:hover {
              transition: all 0.4s ease-out; 
      
              &:before {
                left: 0;
                direction: ltr;
                width: 100%;
                transition: width .3s;
              }
      
              &:after {
                transform: scaleX(1);
                transition: transform .3s;
                transform-origin: right;
              }
            }

            &.active {
              &:before {
                left: 0;
                direction: ltr;
                width: 100%;
                transition: width .3s;
              }

              &:after {
                transform: scaleX(1);
                transition: transform .3s;
                transform-origin: right;
              }
            }
          }
        }
      }
    }

    .active-nav {
      transform: translateX(0);
      transition: transform .5s ease;
      transition-delay: .1s;
      margin: auto;

      ul {
        &:hover > li:not(:hover){
          a {
            color: lightgray;
          }
        }

        li {
          @for $i from 1 through 35 {
            &:nth-child(#{$i}) > div {
              transform: translateY(0);
              transition: transform .4s ease-out;
              transition-delay: #{($i * .05) + .3}s;
            }
          }
        }
      }
    }

    /************************ Nav Hamburger ************************/

    .nav-ham {
      pointer-events: none;
      display: block;
      width: 25px;
      margin: 40px auto;
      z-index: 2;
      overflow: hidden;
    }
    .bar {
      width: 1.5rem;
      height: 3px;
      display: block;
      padding: 0;
      margin: 7px 0;
      transition: 0.3s;
      transition-delay: .35s;
      background-color: transparent;
    }
    
    .bar:nth-child(1),
    .bar:nth-child(2),
    .bar:nth-child(3)
    {
      width: 100%;
    }
    .cross {
      .cross-bar
      {
        position: absolute;
        top: 57px;
        width: 25px;
        background: transparent;
        height: 3px;
        transition: transform .3s;
      }
  
      .cross-bar:nth-child(1)
      {
        transform: scale(0) rotateZ(-45deg);
      }
  
      .cross-bar:nth-child(2)
      {
        transform: scale(0) rotateZ(45deg);
      }
    }
    .active .bar:nth-child(2) {
      transform: translateX(50px);
      transition: transform .3s;
    }
    .active .bar:nth-child(1),
    .active .bar:nth-child(3) {
      width: 0;
      transition: .3s;
    } 
    .active .cross {
      .cross-bar {
        transition: transform .3s;
        transition-delay: .35s;
      }
      .cross-bar:nth-child(1)
      {
        transform: scale(1) rotateZ(-45deg);
      }
      .cross-bar:nth-child(2)
      {
        transform: scale(1) rotateZ(45deg);
      }
    } 
    .active {
      right: 0;
      transition: 0.2s ease;

      &:hover {
        .cross {
          .cross-bar {
            background-color: #DE1F0D;
          }
        }
      }
    }
  }
  
@media (max-width: 1000px) {

  .open-navigation {
    padding: 0;
    margin: 0;
  }

  .nav-bar {
    width: 100vw;
    height: 85px;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: white;
    transition: background-color .1s;

    nav {
      width: 100vw;
      margin-left: 120px;
      padding: 22vh 0;
      margin: auto 3vw auto auto;

      ul {
        opacity: 1;
        li {
          div {
            transform: translateY(100px);
          }
        }
      }

      &.open-navigation {
        ul {
          padding: 0;
        }
      }
    }

    .nav-ham {
      pointer-events: all;
      cursor: pointer;
      display: block;
    }

    .bar {
      background-color: black;
    }

    .cross {
      .cross-bar
      {
        background: black;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 2.5px;
      width: 0;
      background: red;
      z-index: 5;
    }

    @for $i from 1 through 102 {
      &._#{$i}{
        &:before {
          height: 2.5px;
          width: #{$i} + '%';
        }
      }
    } 

    &:after {
      top: 85px;
      left: 0;
      width: 96vw;
      margin: 0 2vw;
      height: 3px;      
      transform: scaleX(0);
      transition: 300ms transform ease 100ms;
    }
  
    &.scroll-border, &.active-scroll-border {  
      &:after {
        transition: 100ms transform ease 300ms;
        transform: scaleX(1);
      }
    }

    .logo {
      opacity: 1;
      position: relative;
      display: flex;
      z-index: 2;
      height: 100%;
      margin: 0 20px;
      
      img {
        margin-top: 6px;
        transition: 0.5s;
      }
    }

    .menu-cover {
      pointer-events: all;
      position: absolute;
      background: black;
      width: 100vw;
      margin-left: 0;
      margin-top: 80px;
      transform: scaleY(0);
      transform-origin: top;
      transition: .4s;
      transition-delay: .6s;
      z-index: -2;
      height: 100vh;

      &.active {
        transform-origin: top;
        height: 100vh;
        transform: scaleY(1);
        left: 0;
        opacity: 1;
        transition: transform .4s;
        transition-delay: 0s;
      }
    }

    nav {
      margin-left: 0;
      transform: translateY(-2000px);
      background-color: white;

      .nav-image {
        height: 0;
        width: 0;
  
        .img-cover {
          height: 0;
          width: 0;
        }
  
        img {
          width: 0;
          height: 0;
        }
      }

      ul {
        width: 95%;
        margin: auto;
        padding: 50px 0;
        display: block;
        height: 100vh;
        transform: none;
        display: block;

        li {
          margin: auto;
          text-align: center;
          height: 120px;
          display: block;
          overflow: hidden;

          div > a {
            margin: 0 40px;
            font-size: 35px;
            transition: .4s;
          }
        }
      }
    }

    .active-nav {
      transform: translateY(0);
      width: 100vw;
      background-color: white;
      height: 100vh;

      ul {
        li {
          @for $i from 1 through 35 {
            &:nth-child(#{$i}) > div {
              transition-delay: #{($i * .05) + .38}s;
            }
          }
        }
      }
    }

    .nav-ham {
      margin: auto 40px auto auto;

      .bar {
        margin: 5px 0;
      }
    }
    .cross {
      position: absolute;
      top: 0;
      .cross-bar
      {
        position: absolute;
        top: 0;
        margin: 39px 0;
      }
    }
  }
}