@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:wght@300&display=swap');


body {
  ::selection {
    color: white;
    background: #DE1F0D;
  }
}

img {
  user-select: none;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;

  ::-webkit-scrollbar {
    opacity: 0;
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0;
    width: 0;
  }
}

.scroll-arrow {
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s;
  pointer-events: none;
  user-select: none;

  img {
    pointer-events: all;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 17.5px;
    padding: 50px 3.25vw;
    z-index: 3;
    transition: bottom .4s;
    transition-delay: bottom 1s;
  }

  &.hidden {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s;

    img {
      bottom: 40px;
      transition: bottom .4s;
      transition-delay: bottom 1s;
      pointer-events: none;
      user-select: none;
    }
   }
}

@media (max-width: 1000px) {  
  .scroll-arrow {
    img {
      padding: 50px 3.85vw;
      height: 75px;
      width: 15px;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 0;
  margin: 0 auto;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.home-page {
  overflow-Y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 150px;
    width: 70%;
    max-height: 90%;

    a {
      text-decoration: none;
    }
  }

  @media (max-width: 1000px) {  
    .text-zone {
      margin-left: 0;
    }
  }
}

.container.about-page {
  overflow-Y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

    h1 {
      margin: 0 0 15px 0;
      font-size: 80px;
      font-weight: 300;
      //color: #272727;
      color: white;
      letter-spacing: 2px;
      transition: font-size .4s;

      &:before {
        font-family: 'La Belle Aurore', cursive;
        color: #FC94AF;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        font-family: 'La Belle Aurore', cursive;
        color: #FC94AF;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    h2 {
      position: relative;
      //color: #272727;
      color: lightgray;
      font-size: 18px;
      font-family: 'Coolvetica';
      font-weight: 400;
      letter-spacing: 5px;
      margin: 0 0 20px 0;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        height: 3px;
        width: 31px;
        background: #DE1F0D;
      }
    }

    .about-list {
      list-style-type: none;
      margin: 20px 0 30px 0;
      color: lightgray;

      .about-title {
        cursor: pointer;
        width: fit-content;
        font-size: 30px;
        //color: lightgray;
        color: #444;
        transition: color .4s;
        transition: font-size .4s;
    
        &::after {
          content: none;
        }
  
        &:hover {
          //color: #272727;
          color: white;
          transition: color .4s;
        }
      }

      &.active {
        display: list-item;
        list-style-type: square;
        //color: #272727;
        color: #DE1F0D;
        font-size: 50px;
        transition: font-size .4s;
  
        .about-title {
          //color: #272727;
          color: white;
          font-size: 50px;
          transition: font-size .4s;
        }
      }

    }

    p {
      font-size: 17px;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      line-height: 30px;
      letter-spacing: 1px;
      margin-bottom: 30px;
      color: lightgray;

          @for $i from 1 through 4 {
            @if($i == 1) {
              &:nth-of-type(#{$i}) {
                margin-top: 0;
              }
            }
            &:nth-of-type(#{$i}) {
              width: 100%;
              height: auto;
            }
          }
    }

    .text-zone {
      padding: 60px 7%;

      .about-wrapper {
        min-height: 700px;
        justify-content: center;
        display: flex;
        flex-flow: nowrap;
        //background-color: #181818;
        background-color: #0b0b0b;
        border-radius: 10px;
        padding-top: 20px;

        ul {
          padding: 50px 10%;
        }
    
        .about-button {
          cursor: pointer;
          pointer-events: all;
          padding: 5px 10px;
          margin: 10px 7px;
          border: solid 2px;
          //border-color: #272727;
          border-color: lightgray;
          border-radius: 5px;
          //background-color: white;
          background-color: transparent;
          //color: #272727;
          color: lightgray;
          transition: color .4s;
          -webkit-transition: background-color .2s;
          -ms-transition: background-color .2s;
          transition: background-color .2s;
    
          &:hover {
            color: white;
            background-color: #272727;
            transition: color .4s;
            -webkit-transition: background-color .2s;
            -ms-transition: background-color .2s;
            transition: background-color .2s;
          }
        }

        .about-desc {
          padding: 70px 100px 50px 30px;
          animation: fadeIn;
          animation-duration: .4s;
          animation-fill-mode: forwards;

          .dev-desc{
            display: flex;
            flex-flow: wrap;
            width: 100%;
          }
        }

        .button-wrapper {
          width: fit-content;
          grid-column: 1 / span 2;
          display: flex;
          flex-flow: row;
          justify-content: center;
          margin: 0 20px;

          .button-border {
            position: absolute;
            left: 7.5vw;
            top: 300px;
          }
        }
      }
    }

    .text-animate-hover {
      &:hover {
        color: #181818;
      }
    }  

    /* Mobile Start */

    @media (max-width: 1000px) {  
      .text-zone {
        padding: 20px 5vw;

        .about-wrapper {
          display: grid;
          justify-content: center;
          margin: 100px auto;
          padding: 50px 20px 100px 20px;

          ul {
            display: flex;
            flex-flow: row;
            padding: 0 10px 0 10px;
            order: 1;
            grid-column: 1 / span 2;

            li {
              width: 100%;

              h1 {
                margin: 0;
              }
            }

            .about-list {
              text-align: center;
              margin: auto 2vw auto 7vw;

              .about-title {
                font-size: 30px;
              }
            }
            .active {
              .about-title {
                font-size: 50px;
              }

              &::marker {
                white-space: nowrap;
              }
            }

          }
          .about-desc {
            order: 2;
            padding: 60px;
            width: 90%;
            //grid-column: 1 / span 2;
            min-height: 500px;
  
            .dev-desc{
              width: 100%;
            }
          }

          .button-wrapper {
            order: 3;
            width: 100%;
            grid-column: 1 / span 2;
            position: relative;

            .button-border {
              left: 40px;
              top: 0;
            }
          }
        }
      }
    }

    @media (max-width: 700px) {  
      h1 {
        font-size: 50px;
        transition: font-size .4s;

        &.letter-anim {
          padding-top: 10px;
        }
      }

      h2 {
        font-size: 16px;
      }

      .text-zone {
        .about-wrapper {
          min-height: 600px;

          ul {
            //padding-top: 30px;
            width: 90%;

            .about-list {
              .about-title {
                font-size: 25px;
              }
            }

            .active {
              font-size: 40px;

              .about-title {
                font-size: 40px;
                margin-left: 5px;
              }
            }
          }

          .about-button {
            padding: 1px 7px;
            margin: 5px 12px 5px 0;
            font-size: 15px;
          }

          .about-desc {
            width: 100%;
            margin: auto;
            padding: 50px;
            //overflow: wrap;

            .dev-desc {
              width: 85%;
            }
          }

          .button-wrapper {
            left: -10px;
          }
        }
      }
    }
  /* Mobile End */
}

.container.contact-page {
  overflow-Y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    position: relative;
    color: #272727;
    font-size: 20px;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 3px;
      width: 31px;
      background: #DE1F0D;
    }
  }

  h1 {
    letter-spacing: 2px;

    &:before {
      font-family: 'La Belle Aurore', cursive;
      color: #FC94AF;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      font-family: 'La Belle Aurore', cursive;
      color: #FC94AF;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  p {
    animation: pulse 1s;

    @for $i from 1 through 5 {
      @if($i >= 3) {
        &:nth-of-type(#{$i}) {
          animation-delay: 1.3s;
        }
      }
      &:nth-of-type(#{$i}) {
        animation-delay: #{1 + ($i * .1)}s;
      }
    }
  }

  .text-zone {
    padding: 60px 7%;

    .contact-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: no-wrap;
      min-height: 700px;
      //background-color: #181818;
      background-color: #0b0b0b;
      border-radius: 10px;
      padding-top: 20px;
    }

    .contact-text {
      width: 45%;
      //padding: 30px 40px;
      padding: 60px 40px 30px 80px;
    }

    .contact-form {
      width: 45%;
      padding: 40px 70px 20px 20px;
    }

    .contact-text, .contact-form {

      .button-transform-container {
        width: 100%;
        height: 100px;
        margin: 20px auto;
      }

      .button-border {
        position: inherit;
        height: 60px;
        width: 100%;
        transform: scaleX(1);
        transform-origin: center;
        margin: 40px 0;
        background-color: transparent;
        transition: transform .5s;

        .contact-message {
          pointer-events: none;
          position: absolute;
          bottom: -40px;
          left: 0;
          text-align: center;
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          color: transparent;
          width: 100%;
        }

        .button-fill {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            color: white;
            border-radius: 0;
            background-color: transparent;
            transition: width .5s cubic-bezier(.3, 0, .2, 1), margin .5s cubic-bezier(.3, 0, .2, 1), background-color .5s;
            z-index: -1;
          }
        }
    
        .button-border-link {
          font-size: 13px;
          letter-spacing: 3px;
          margin: 13px 0;
          padding: 0;
        }
    
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
    
        svg {
          font-size: 40px;
          margin: 0;
          padding: 10px 0;
          color: transparent;
        }
    
        &:hover {
          .button-border-link {    
            &:after{
              width: 100.5%; 
            }
            &:before {
              height: 58px; 
            }
          }
    
          &:before {
            width: 100.5%; 
          }
          &:after {
            height: 58px; 
          }
          p:before {
            height: 58px; 
          }
          p:after {
            width: 100.5%; 
          }
          &-link:before {
            height: 58px; 
          }
          &-link:after {
            width: 100.5%; 
          }
        }
    
        &.valid {
          color: white;
          border: none;
          height: 60px;
          transition: border .5s, border-radius .5s, color .5s, height .5s;

          svg {
            //envelope
            color: lightgray;
            transition: color .1s;
            animation: rubberBand 1s;
            animation-delay: .5s;
            z-index: 3;
          }
      
          .contact-message {
            //color: #181818;
            color: lightgray;
            width: 100%;
            transition: color 1s;
            transition-delay: 1s;
            animation: fadeIn 1s;
            padding-top: 100px;
            text-wrap: nowrap;
          }
            
          .button-fill {          
            &:before {
              transform: scaleX(0);
              transition: transform 0s;
            }
            &:after {
              //envelope background
              background-color: #DE1F0D;
              border-radius: 50%;
              width: 65px;
              margin: 0 (calc((100% - 65px)/2));
              transition: width .5s cubic-bezier(.3, 0, .2, 1), margin .5s cubic-bezier(.3, 0, .2, 1);
            }
          }
    
          &:before, &:after, p:after, p:before, &-link:before, &-link:after {
            background: none;
          }
        }
        &.invalid {
          .contact-message {
            width: 100%;
            color: lightgray;
            animation: fadeIn .5s;
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {  
    .text-zone {
      padding: 20px 5vw;

      .contact-wrapper {
        display: grid;
        justify-content: center;
        padding: 10px 0 0 0;
        margin: 100px auto;
      }

      .contact-text {
        margin: 100px auto 0 auto;
        padding-left: 0;
        width: 80%;
      }

      .contact-form {
        margin: 25px auto;
        width: 80%;
      }
      
      .contact-text, .contact-form {
        position: relative;
        padding: 0;
        margin: 50px auto 0 auto;
        float: none;
      }
    }

    p {  
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            width: 100%;
          }
        }
    }
  }

  @media (max-width: 800px) {  
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 16px;

      &:after {
        bottom: -17px;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #181818;
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 100%;
    background: black;
  }
}

.container.portfolio-page {
  overflow-Y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #FC94AF;
      font-weight: 400;
      margin: 50px 0 10px 0;

      &:before {
        font-family: 'La Belle Aurore', cursive;
        color: #FC94AF;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        font-family: 'La Belle Aurore', cursive;
        color: #FC94AF;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 13px;
      color: #181818;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;

      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{1 + ($i * .1)}s;
        }
      }
    }

    .text-zone {
      padding: 100px;
      display: flex;
      flex-wrap: wrap;

      .footer {
        padding: 75px 0;
      }
    }

    
    @media (max-width: 1100px) {  
      .text-zone {
        padding: 40px 82.5px 35px 90px;
        justify-content: center;
      }
    }

    @media (max-width: 900px) {  
      .text-zone {
        margin: auto;
        padding: 40px 0 35px 0;
      }
    }

    .text-animate-hover {
      &:hover {
        color: #181818;
      }
    }
}

@media (max-width: 700px) {  
  .container.portfolio-page {
    margin-top: 0;
  }
}

.footer {
  text-align: center;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 100px 0 0 0;
  color: #444;
  font-size: 9px;
  letter-spacing: 1px;
  opacity: .6;
  font-weight: thin;
  font-family: sans-serif;
  user-select: none;
  float: left;
}

.button-wrapper {
  position: relative;

  .button-border {
    position: absolute;
  }
}

.button-border {
  cursor: pointer;
  position: relative;
  top: 25px;
  left: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  background-color: transparent;
  text-align: center;
  //color: #fff;
  color: #444;
  //border: 2px solid lightgray;
  border: 2px solid #444;
  transition: background-color .5s;
  z-index: 3;
  
  &:before {
      content: ''; 
      position: absolute; 
      top: -2px;
      left: -2px;
      width: 0; 
      height: 2px; 
      //background: black;
      background: #DE1F0D;
      transition: 100ms width ease 300ms;
  }
  &:after {
      content: '';
      position: absolute; 
      top: -1px; 
      right: -2px; 
      width: 2px; 
      height: 0; 
      //background: black; 
      background: #DE1F0D;
      transition: 100ms height ease 200ms;
  }
  .button-fill {
    width: 100%;
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      direction: rtl;
      height: 100%;
      width: 100%;
      color: white;
      //background-color: #181818;
      background: #DE1F0D;
      overflow: hidden;
      transform-origin: right center;
      transform: scaleX(0);
      transition: transform .5s cubic-bezier(.3, 0, .2, 1);
    }

    .button-border-link {
      font-size: 15px;
    }

    &:after {
      content: '';
    }
  }
  .button-border-link {
    cursor: pointer;
    pointer-events: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: lightgray;
    transition: color .5s;
    height: 15px;
    margin: auto;
    padding: 5px;
    line-height: 32px;
  &:after{
      content: ''; 
      bottom: -2px; 
      right: -2px;
      position: absolute; 
      width: 0; 
      height: 2px;
      //background: black; 
      background: #DE1F0D;
      transition: 100ms width ease 100ms;
  }
  &:before {
      content: '';   
      position: absolute; 
      bottom: -1px; 
      left: -2px;
      width: 2px; 
      height: 0;
      //background: black;
      background: #DE1F0D;
      transition: 100ms height 0ms;
  }
}
  &:hover{
    border: 2px solid transparent;
    transition: border 0s;
    transition: all 0.4s ease-out; 

      .button-fill {
        transition: all 0.4s ease-out; 
    
        &:before {
          transform-origin: left center;
          direction: ltr;
          transform: scaleX(1);
          transition: transform .5s cubic-bezier(.3, 0, .2, 1);
          z-index: -1;
        }
      }
      
      .button-border-link {
        color: white;
        transition: color .5s;
        transition-delay: .4s;

        &:after{
          width: 154px; 
        }
        &:before {
          height: 42px; 
        }
      }

      &:before{
        width: 154px; 
        transition: 100ms width ease 0ms; 
      }
      &:after {
        height: 42px; 
        transition: 100ms height ease 100ms;
      }
      p:before {
        height: 42px; 
        transition: 100ms height ease 300ms;
      }
      p:after {
        width: 154px; 
        transition: 100ms width ease 200ms;
      }
  }
}